<nav class="navbar navbar-dark bg-dark mb-5">
    <div class="container">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a
        >
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/empolyees"
          >Empolyees</a
        >
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact"
          >Contact US</a
        >
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>