<div class="container mt-5">
    <h2>{{ header }}</h2>
    <form>
        <div class="form-group">
            <label for="">Id</label>
            <input type="number" class="form-control" ngModel name="id" />
        </div>
        <div class="form-group">
            <label for="">Email ID</label>
            <input type="text" class="form-control" ngModel name="email" />
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="text" class="form-control" ngModel name="password" />
        </div>
        <div class="form-group">
            <label for="">Phone Number</label>
            <input type="number" class="form-control" ngModel name="phone" />
        </div>
        <div class="form-group">
            <label for="">Location</label>
            <input type="text" class="form-control" ngModel name="Location" />
        </div>
        <div class="form-group">
            <label for="">Designation</label>
            <input type="text" class="form-control" ngModel name="design" />
        </div>
        <div class="form-group">
            <button type="button">Save</button>
        </div>
    </form>
</div>