/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.css";
body {
    background-image: url("./assets/y.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

input {
    color: blue;
    font-family: monospace;
}

.container {
    margin: 100px 40px 40px 500px;
    text-align: center;
}

h2 {
    font-family: fantasy;
    font-size: 40px;
}

h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: navy;
}

card {
    margin: 400px 400px 400px 400px;
}