<!-- <div class="container" style="width: 500px">
    <h2 style="
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: blue;
    ">
        Login
    </h2>
     <h2 style="font-family: 'Times New Roman', Times, serif">
        Welcome To Login Page!!!
    </h2> -->
<!-- <form>
        <div class="form-groups">
            <label for="Id"> Id</label>
            <input type="text" class="form-control" [(ngModel)]="uid" />
        </div>
        <div class="form-groups">
            <label for="Password">Password</label>
            <input type="text" class="form-control" [(ngModel)]="pwd" />
        </div>
        <div class="form-groups"> -->
<!-- <button type="submit" class="btn btn-success mt-5 mb-5" (click)="Logiiinnn(uid)">
        Login
      </button> -->
<!-- </div>
    </form>
</div>
<label> </label>  -->