<!-- <form>
    <div class="container">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" #inputEmail id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" width="500px" />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        #inputpassword
      />
    </div>
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        width="400px"
      />
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="validateForm(inputEmail.value, inputpassword.value)"
    >
      Login
    </button>
  </div>

</form> -->
<!-- <b>Default data:</b>
<ng-content></ng-content><br />
<b> Topic Name:</b>
<ng-content select="[Name]"></ng-content><br /><b>Question:</b>
<ng-content select="[question]"></ng-content><br /><b>Answer:</b>
<ng-content select="[answer]"></ng-content><br /> -->
<h2 style="color: brown">Count is:{{ count }}</h2>