<header style="
    text-align: center;
    background-color: burlywood;
    color: black;
    height: 70px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
  ">
    ABOUT
</header>

<div class="container">
    <div class="card">
        <div class="row">
            <div class="col-4">
                <img [src]="imgUrl" />
            </div>
            <div class="col-4">
                <img [src]="imgUrl1" />
            </div>
            <div class="col-4">
                <img [src]="imgUrl2" />
            </div>
        </div>
    </div>
</div>